* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
}

html,
body {
    height: auto;
    overflow: hidden;
}

.wrap-all,
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row div,
.col div {
    border: 1px solid gray;
}

.grid,
.tile {
    border: 1px solid gray;
}

.grid-size {
    flex-direction: row;
}

.grid {
    list-style-type: none;
}

.grid-container {
    display: grid;
}

.tile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tile {
    position: absolute;
    list-style-type: none;
    display: grid;
    background-color: tomato;
    width: inherit;
}

.ghost-tile {
    position: absolute;
    list-style-type: none;
    display: grid;
    background-color: lightsteelblue;
}

.x-axis {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.y-axis {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.x-axis div,
.y-axis div {
    text-align: center;
}

.tile-size {
    flex-direction: row;
}

.tile[tile-index="0"] {
    background-color: transparent;
}

.about {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}