:root {
    --default-size: 1.5rem;
  }

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--default-size);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.wrap-all,
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings * {
    margin-bottom: 2px;
}

input {
    width: var(--default-size);
    height: var(--default-size);
}

input[type="number"] {
    width: 5rem;
    height: 2rem;
}

.row div,
.col div {
    border: 1px solid gray;
}

.grid,
.tile {
    border: 1px solid gray;
}

.grid-size {
    flex-direction: row;
}

.grid {
    list-style-type: none;
    position: relative;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center; 
}

.tile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tile {
    position: absolute;
    list-style-type: none;
    display: grid;
    background-color: tomato;
    width: inherit;
}

.ghost-tile {
    position: absolute;
    list-style-type: none;
    display: grid;
    background-color: lightsteelblue;
}

.x-axis {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.y-axis {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.x-axis div {
    height: var(--default-size);
    text-align: center;
    margin-bottom: auto;
}

.y-axis div {
    width: var(--default-size);
    text-align: right;
    margin-right: 0.5rem;
}

.tile-size {
    flex-direction: row;
}

.tile[tile-index="0"] {
    background-color: transparent;
}

.about {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}