* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    overflow: hidden;
}

.wrap-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-width,
.grid-height,
.tile-width,
.tile-height,
.unit {
    font-size: 1rem;
    text-align: center;
}

.grid-size {
    flex-direction: row;
}

.grid-with-axes {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.grid {
    list-style-type: none;
    display: grid;
    border: 1px solid gray;
}

.tile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tile {
    position: absolute;
    list-style-type: none;
    display: grid;
    box-shadow: 0 0 0 1px tomato;
}

.x-axis{
    list-style-type: none;
    display: flex;
}

.y-axis{
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}

.tile-size {
    flex-direction: row;
}

.grid li {
    border: 1px solid gray;
}

.tile li {
    background-color: gray;
}

.about {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}